{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Aggregator</title>
</head>
<body>
    <h1>{{ sources }}</h1>

    {% for website, link in links %}
        <h1>{{ website }}</h1>
        {% for href, title in link %}
            <a href={{href}}>{{ title }}</a>
            <p>{{ href }}</p>
        {% empty %}
            <p>no links</p>
        {% endfor %}
    {% empty %}
        <p>no data</p>
    {% endfor %}
</body>
</html>